@using Serials.Core
@model SerialViewModel

<form method="post" asp-area="" asp-controller="Serials" asp-action="Edit">
    <div class="form-group">
        <label asp-for="SerialNumber"></label>
        <input class="form-control" asp-for="SerialNumber" />
        <span asp-validation-for="SerialNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Firstname"></label>
        <input class="form-control" asp-for="Firstname" />

    </div>
    <div class="form-group">
        <label asp-for="Lastname"></label>
        <input class="form-control" asp-for="Lastname" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
    </div>
    
    <div class="form-group">
        <label asp-for="ActivationDate"></label>
        <input class="form-control" asp-for="ActivationDate" />
    </div>
    <div class="form-group">
        <label asp-for="Info"></label>
        <input class="form-control" asp-for="Info" />
    </div>
    <div class="form-group">
        <label asp-for="Software"></label>
    </div>
    <div class="form-group">
        <select asp-for="Software" asp-items="Html.GetEnumSelectList<SoftwareEnum>()"></select>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>